<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- Links Bulma, a CSS framework -->
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    />
    <!-- Links custom CSS  -->

    <link rel="stylesheet" href="/css/style.css" />

    <!-- Links Ubuntu font-->
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'
    />
    <!-- Makes fontawesome icons available -->
    <script
      defer
      src='https://use.fontawesome.com/releases/v5.3.1/js/all.js'
    ></script>
    <title>Gathr</title>
  </head>

  <!--Header-->
  <header
    class='container-fluid is-flex is-justify-content-space-between is-align-items-center'
  >
    <a href="/api/users/search/random"><h1 class='is-size-1 ml-4'>Gathr</h1></a>
    <button class="button subtitle">Logout</button>
  </header>
  <!--body element Filler-->
  {{{body}}}

  <footer class="footer">
    <div class="content has-text-centered">
      <div class="names">
        Brice Bridges, Bill Hennessey, Alex Lopez, & Abby Castelow
      </div>
      <div class="logo">
        <a href="https://github.com/bcbridges/Gathr" target="no_blank"
          ><i class="fab fa-github fa-5x"></i
        ></a>
      </div>
    </div>
  </footer>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- MOMENT -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    ></script>
    <!-- Custom JS file -->
    <script src="/js/index.js"></script>
  </body>

</html>