<body class="search">
  <section
    class="hero is-small is-success is-flex is-justify-content-center is-align-items-center"
  >
    <div class="hero-body has-text-centered">
      <p class="title">Use keywords to find events</p>

      <!--Search Bar-->
      <div class="searchbar">
        <input
          class="input is-normal"
          type="text"
          placeholder="Try Coffee, Running, or Tennis?"
          name="search"
        />
      </div>
      <button class="button subtitle" name="newEvent">Create a new event</button>
    </div>

    <!-- For each render each card that is returned from the API search -->
    <main>
<div
  class="columns is-multiline is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-justify-content-space-around"
>
      {{#each events as |event|}}
      {{> all-event-details}}
      {{/each}}
</div>
    </main>
  </section>
</body>
<script src="/js/search.js"></script>