<body class='main'>
  <section>
    <div
      class='columns is-gapless m-0 is-variable is-2 cardContainer is-multiline is-centered'
    >
      <!--Login Section-->
      <div
        class='column is-half-tablet is-one-third-desktop is-one-third-widescreen'
      >
        <div class='card'>
          <div class='box'>
            <div class='field'>
              <label class='label'>Username</label>
              <div class='control'>
                <input
                  class='input email-login email-signup'
                  type='email'
                  placeholder='e.g. alex@example.com'
                />
              </div>
            </div>

            <div class='field'>
              <label class='label'>Password</label>
              <div class='control'>
                <input
                  class='input password-login password-signup'
                  type='password'
                  placeholder='********'
                />
              </div>
            </div>

            <button class='login-form button is-primary' id='login'>
              Sign in
            </button>
            <button class='signup-form button is-primary' id='signup'>
              Sign Up
            </button>
          </div>
        </div>
      </div>

      <!-- Right/Info Section -->
      <div
        class='column is-half-tablet is-one-third-desktop is-one-third-widescreen'
      >
        <div class='card'>
          <div class='card-image'></div>
          <div class='card-content'>
            <div class='content'>
              Connect with people in Denver who are curious about the things you
              love. From outdoor sports and yoga to cycling and hiking
              excursions, enhance your life by connecting with others. Come
              together over the things you love and make lasting genuine
              connections. Find new friends at any age.
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>