<section
  class="hero is-small is-success is-flex is-justify-content-center is-align-items-center"
>
  <div class="hero-body has-text-centered">
    <p class="title">Use keywords to find events</p>

    <!--Search Bar-->
    <div class="searchbar">
      <input
        class="input is-normal"
        type="text"
        placeholder="Search Keywords"
        name="search"
      />
    </div>

    <!--This is for the Google Maps pop up
  <div class='modal numberModal${i}'>
    <div class='modal-background eventModalClose'></div>
    <div class='modal-content'>
      <iframe
        width='450'
        height='250'
        frameborder='0'
        style='border: 0'
        src='${googleMapsURL}'
        allowfullscreen
      >
      </iframe>
    </div>
    <button
      class='modal-close is-large eventModalClose'
      aria-label='close'
    ></button>
  </div>
  -->
  </div>
</section>