<section
  class="hero is-small is-success is-flex is-justify-content-center is-align-items-center"
>
  <div class="hero-body has-text-centered">
    <p class="title">Use keywords to find events</p>

    <!--Search Bar-->
    <div class="searchbar">
      <input
        class="input is-normal"
        type="text"
        placeholder="Search Keywords"
        name="search"
      />
    </div>

{{#each events as |event|}}
{{> search-event-details}}
{{/each}}
  </div>
</section>